/* GLOBAL */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #88bdad;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-dark--3: #545a5f;

  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior-y: contain;
  /* overflow-y: hidden;  overflow-y: hidden; */
  background-color: #fff;
  padding: 1rem;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 0;
}

/* GENERAL PAGE STYLES */

a:link,
a:visited {
  color: var(--color-brand--1);
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  max-height: 98vh;
  /* max-width: 98 vw; */
  min-height: 0;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 40rem;
  background-color: var(--color-dark--1);
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.logo-flex-container {
  display: flex;
  flex-direction: column;
}
.logo {
  /* flex: 0 0 30px; */
  height: 4rem;
  align-self: center;
  margin-bottom: 1rem;
}

.logo-label {
  font-size: 2rem;
  align-self: center;
  color: var(--color-brand--1);
  margin-bottom: 1rem;
}

.logo-label a {
  text-decoration: none;
  transition: all 0.2s;
}
.logo-label a:hover {
  color: var(--color-brand--2);
  transition: all 0.2s;
}

.sidebar h1 {
  font-size: 1.7rem;
  align-self: center;
  text-align: center;
  /* margin-top: 2rem; */
  margin-bottom: 1.5rem;
  color: var(--color-brand--2);
}

.copyright {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-light--1);
}

.social-icon-link {
  /* color: var(--color-light--1); */
  transition: all 0.2s;
  color: white;
}

.social-icon {
  color: white;
  font-size: 1.75rem;
  margin: 5px 20px 0px 20px;
  padding-bottom: 0;
}

/* SIDEBAR LIST ITEMS */

.segment-cards-list {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.segment-cards-list::-webkit-scrollbar {
  width: 0;
}

.segment {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
}

.segment:hover {
  cursor: pointer;
  background-color: var(--color-dark--3);
}

.segment__river {
  font-size: 1.2rem;
  font-weight: 400;
  grid-column: 1 / -1;
  color: var(--color-brand--2);
}

.segment__title {
  font-size: 1.5rem;
  font-weight: 500;
  grid-column: 1 / -1;
}

.segment__details {
  display: flex;
  align-items: baseline;
}

.segment__icon {
  font-size: 1.5rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.segment__value {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.segment__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

/* button styles  */
.btn {
  display: inline-block;
  text-align: center;
  color: var(--color-dark--1);
  background-color: var(--color-light--1);
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 10px;
}

.btn:hover {
  color: var(--color-light--2);
  background-color: var(--color-dark--1);
  /* border: 2px solid var(--color-dark--2); */
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-dark--1);
  padding-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

/* MAP */

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Map control bar */

#map-toggles {
  background: var(--color-light--2);
  /* height: 5rem; */
  width: 100%;
  align-content: center;
  padding: 7px;
  vertical-align: middle;
}

#change-style-btn {
  margin-right: 10px;
  /* /* margin-top: 7px; */
  margin-top: 10px;
}

#temp-legend,
#flow-legend {
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--color-dark--1);
  padding-bottom: 2rem;
  padding-left: 10px;
  vertical-align: middle;
}

.legend-title {
  font-size: 1.3rem;
}

.legend-symbol {
  /* flex: 0 0 auto; */
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border: 0.5px solid black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: -0.25rem;
}

#map {
  flex: 1;
  /* height: 100%; */
  background-color: var(--color-light--1);
  /* min-height: 0; */
}

/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  width: 90vw;
  color: #000;
  background-color: #f3f3f3;
  padding: 1rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 10px;
  min-height: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s;
}

.modal__header {
  font-size: 2rem;
  margin-bottom: 0;
  line-height: 1.5;
}

.btn--close-modal {
  font-family: inherit;
  color: #000;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.hidden-none {
  visibility: hidden;
  display: none;
  transition: 0.3s;
}

/* MAP POPUP STYLES  */

.leaflet-popup-content-wrapper {
  background-color: #2d3439;
}

.leaflet-popup-content {
  background-color: #2d3439;
  color: #ececec;
  margin: 10px 10px;
  line-height: 1.4;
  font-size: 1.4rem;
  min-height: 1px;
}

.popup-content-section {
  color: var(--color-brand--1);
}

.popup-content-value {
  color: var(--color-brand--2);
  font-weight: bold;
}


.btn-popup {
  display: block;
  text-align: center;
  color: var(--color-dark--1);
  background-color: var(--color-light--1);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.3rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 5px;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-popup:hover {
  color: var(--color-light--2);
  background-color: var(--color-dark--2);
}


.leaflet-tooltip {
  font-size: 1.5rem;
  padding: 3px;
  /* background-color: var(--color-dark--1); */
  background-color: rgb(0 0 0 / 50%);
  /* opacity: 0.5; */
  color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.huc-tooltips {
  font-size: 2rem;
  color: rgba(10, 100, 100, 0.6);
  /* background-color: rgba(255, 0, 0, 0); transparent */
  background: none; 
  border: none;
  box-shadow: none;
  margin: 0px;
  cursor: none;
  direction: 'center';
  fill: false;
}

.leaflet-popup-tip.huc-tooltips {
  width: 0px;
  height: 0px;
  color: none;
}

 /* remove the white triangle on popups and tooltips  */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

/* remove the black focus box that chrome's built in styles put on focused objects on the map */
/* note: this is somewhat of an accessibility violation... */
path.leaflet-interactive:focus:not(:focus-visible) {
  outline: 0 !important;
  border: none !important;
}


/* PLOTLY charts  */

.charts-container {
  display: block;
  height: 85%;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  /* border: solid 0.5px black; */
}

.plotly-chart {
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #f3f3f3;
  border-radius: 5px;
}

.card-highlight {
  background-color: var(--color-dark--3);
  border: 1px solid var(--color-brand--1);
}


/* ----MEDIA QUERIES--- */

@media (max-width: 600px) {

  .flex-container {
    flex-direction: column;
  }

  .sidebar {
    max-height: 325px;
    margin: 0;
    padding: 10px;
    min-height: 275px;
  }

  footer {
    display: none;
  }

  .logo-flex-container {
    display: flex;
    flex-direction: column;
    /* flex-direction: row;  */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-link {
    display: flex;
    flex-direction: column;
  }

  #map {
    min-height: 400px;
    max-height: 500px;
  }

  .logo {
    height: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .logo-label {
    font-size: 2rem;
    margin: 0;
    margin-left: 20px;
    align-self: center;
  }

  .sidebar h1 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .btn {
    margin: 0;
    padding: 5px;
  }

  #change-style-btn {
    height: 3rem;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
  }

  #map-toggles {
    padding: 7px;
    padding-bottom: 0;
  }

  /* .gtitle {
    font-size:0.8rem;
  } */
}
